<div class="container">
  <h3>Upcoming Concerts</h3>
  <ul> 
    <li>Artist: <%= @concert.artist %></li>
    <li>Date: <%= @concert.date %></li>
    <li>Venue: <%= @concert.venue %></li>
    <li>City: <%= @concert.city %></li>
    <li>Ticket Price: $ <%= @concert.ticket_price %></li>
    <li>Description: <%= @concert.description %></li>
  </ul>

  <h5>You're only here for a short visit. Don't hurry, don't worry. And be sure to smell the flowers along the way. - Walter Hagen</h5>
</div>